.dws_ul_reg .reg_ {
    padding-left: 14%;
    padding-top: 1%;
}

.user_page p{
    padding-left: 42%;
}

.fridge_wrap #box3{
    margin-top: 12%;
    padding-top: 5%;
    height: 44px;
}

.fridge_wrap #box4{
    margin-top: 9%;
    height: 44px;
    padding-top: 4%;
}